@model IQueryable<News>
<article id="portfolio" class="wrapper style3">
	<div class="container">
		<header>
			<h2>Here’s some stuff I made recently.</h2>
			<p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat.</p>
		</header>
		<div class="row">
			<div style="margin-bottom: 20px">
				<a asp-controller="News" asp-action="NewsEdit" style="font-weight: bold; border: solid 3px blue; border-radius: 10px; padding: 3px 6px;">НОВАЯ СТАТЬЯ</a>
			</div>
		@foreach (News entity in Model)
		{

				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id" class="image featured"><img src="@entity.TitleImagePath" alt="" /></a>

						<h3>
							<a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
								@entity.Title
							</a>
						</h3>

						<p>@entity.Text</p>
						<h4>@entity.Data.ToShortDateString()</h4>

						<div style="margin-bottom: 5px">
							|
							<a asp-controller="News" asp-action="NewsEdit" asp-route-id="@entity.Id">Редактировать</a>
							|
						</div>
						<form method="post" asp-controller="News" asp-action="NewsDelete" style="margin-bottom: 20px">
							<input type="hidden" name="Id" value="@entity.Id" />
							<input type="submit" value="удалить" />
						</form>
									
					</article>
				</div>
		}
		</div>
@* 		<footer>
			<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
			<a href="#contact" class="button large scrolly">Get in touch with me</a>
		</footer> *@
	</div>
</article>
