@model IQueryable<News>
<article id="portfolio" class="wrapper style3">
	<div class="container">
		<header>
			<h2>Here’s some stuff I made recently.</h2>
			<p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat.</p>
		</header>
		<div class="row">
			
			@foreach (News entity in Model)
			{

				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id" class="image featured"><img src="@entity.TitleImagePath" alt="" /></a>

						<h3>
							<a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
								@entity.Title
							</a>
						</h3>
						<p>@entity.Text</p>
						<h4>@entity.Data.ToShortDateString()</h4>
					</article>
				</div>
			}
		</div>
	</div>
</article>
